# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Docker
.dockerignore

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Node / Wrangler (Cloudflare Pages CLI)
node_modules/
.wrangler/

# Logs
*.log
npm-debug.log*


deploy.md
